In [2]:
import numpy as np
import pandas as pd

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
s.head()

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
dtype: float64

In [7]:
s.dtypes

dtype('float64')

In [8]:
s.describe()

count    5.000000
mean     4.600000
std      2.701851
min      1.000000
25%      3.000000
50%      5.000000
75%      6.000000
max      8.000000
dtype: float64

In [13]:
s = s.dropna(how="any")
s

0    1.0
1    3.0
2    5.0
4    6.0
5    8.0
dtype: float64

In [14]:
s.describe()

count    5.000000
mean     4.600000
std      2.701851
min      1.000000
25%      3.000000
50%      5.000000
75%      6.000000
max      8.000000
dtype: float64

In [34]:
import math

var = 0.0
mean = s.mean()
N = s.count()
print(mean, N)
for v in s:
    var_ = v - mean 
    var += var_**2

var = var / (N-1)
std = math.sqrt(var)
print("Standardabweichung: ", std)

4.6 5
Standardabweichung:  2.701851217221259

In [32]:
mean = (1+3+5+6+8) / 5
var = (1-mean)**2 + (3-mean)**2 + (5-mean)**2 + (6-mean)**2 + (8-mean)**2 
var = var / (5 -1)
var

7.3

In [33]:
std = math.sqrt(var)
print("Standardabweichung: ", std)

Standardabweichung:  2.701851217221259

In [31]:
print(s.std())

2.701851217221259

In [43]:
df = pd.DataFrame(
    {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100.12, 50.2, -30.001, -50.23]}
)
df

   AAA  BBB      CCC
0    4   10  100.120
1    5   20   50.200
2    6   30  -30.001
3    7   40  -50.230

In [47]:

# df.to_excel("../data/output.xlsx", sheet_name='Sheet_name_1') 
df.to_csv("../data/output.csv", sep=';')

In [45]:
df.sort_values(by="AAA")

   AAA  BBB      CCC
0    4   10  100.120
1    5   20   50.200
2    6   30  -30.001
3    7   40  -50.230

In [46]:
df.dtypes

AAA      int64
BBB      int64
CCC    float64
dtype: object

In [55]:
print(df.median(axis=0) )
aaa = (5 + 6)/2
print(aaa)

AAA     5.5000
BBB    25.0000
CCC    10.0995
dtype: float64
5.5

In [57]:
var = {
    'a' : [1,2,3,4],
    'b' : [11,12,13,14],
    'c' : [21,22,23,24]
}
df2 = pd.DataFrame(var)
print(df2)

   a   b   c
0  1  11  21
1  2  12  22
2  3  13  23
3  4  14  24

In [61]:
df2.loc[0]['a']

1

### Create data

In [62]:
import itertools

def expand_grid(data_dict):
    rows = itertools.product(*data_dict.values())
    return pd.DataFrame.from_records(rows, columns=data_dict.keys())


df3 = expand_grid(
    {"height": [60, 70], "weight": [100, 140, 180], "sex": ["Male", "Female"]}
)

print(df3)

    height  weight     sex
0       60     100    Male
1       60     100  Female
2       60     140    Male
3       60     140  Female
4       60     180    Male
5       60     180  Female
6       70     100    Male
7       70     100  Female
8       70     140    Male
9       70     140  Female
10      70     180    Male
11      70     180  Female

In [65]:
print(df3.dtypes)
print(df3.describe())

height     int64
weight     int64
sex       object
dtype: object
         height      weight
count  12.00000   12.000000
mean   65.00000  140.000000
std     5.22233   34.112115
min    60.00000  100.000000
25%    60.00000  100.000000
50%    65.00000  140.000000
75%    70.00000  180.000000
max    70.00000  180.000000

In [66]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
print(s)

a   -1.403363
b   -2.181858
c    1.470653
d   -0.267783
e   -0.538374
dtype: float64

In [67]:
df4 = pd.DataFrame(s)

In [68]:
print(df4)

          0
a -1.403363
b -2.181858
c  1.470653
d -0.267783
e -0.538374