In [2]:
import pandas as pd

In [40]:
# https://statisquo.de/2018/05/28/deskriptive-statistik-mit-python-und-pandas/
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data",
                 delim_whitespace=True,
                 header=None,
                 names=["mpg",
                        "cylinders",
                        "displacement",
                        "horsepower",
                        "weight",
                        "acceleration",
                        "year",
                        "origin",
                        "name"])
                        
df.to_csv("../data/auto-mpg.csv", sep=';', encoding='utf-8')

In [1]:
# df.head()

In [41]:
df = pd.read_csv("../data/Statistik_lernen_Aufgaben.csv", sep=';')

DIe ersten füng Datensätze anzeigen

In [42]:
df.head()

  Unnamed: 0  ID_NAME    ID Farbe Gewicht  Größe
0         A1        1  blau    13   145.2    NaN
1         A3        2  blau    15  150.67    NaN
2         A4        3   rot     9   124.0    NaN
3         A4        4   rot    11   120.1    NaN
4         A5        5  gelb    22   180.5    NaN

In [35]:
print(df.loc[0])
print(df.loc[5:10])

ID_NAME       A1
ID             1
Farbe       blau
Gewicht       13
Größe      145.2
Name: 0, dtype: object
   ID_NAME  ID Farbe   Gewicht  Größe
5       A6   6   rot         9  130.4
6       A7   7  blau        15  150.2
7       A8   8  blau        15  130.2
8       A9   9  gelb        24  210.2
9      A10  10   rot        14  140.3
10     A11  11   NaN  29,210.5    NaN

### Daten auf fehlende Werte prüfen

In [36]:
df.isnull().sum()

ID_NAME    1
ID         0
Farbe      1
Gewicht    0
Größe      1
dtype: int64

### Datentypen prüfen

In [37]:
df.dtypes

ID_NAME    object
ID          int64
Farbe      object
Gewicht    object
Größe      object
dtype: object

### Die Daten grundlegend beschreiben

In [39]:
# df.describe(percentiles=[.1,.2,.3,.4,.5,.6,.7,.8,.9])
df.describe(include='all')

       ID_NAME       ID Farbe Gewicht   Größe
count       13  14.0000    13      14      13
unique      12      NaN     4      10      12
top         A4      NaN  blau      15  155.45
freq         2      NaN     6       4       2
mean       NaN   7.5000   NaN     NaN     NaN
std        NaN   4.1833   NaN     NaN     NaN
min        NaN   1.0000   NaN     NaN     NaN
25%        NaN   4.2500   NaN     NaN     NaN
50%        NaN   7.5000   NaN     NaN     NaN
75%        NaN  10.7500   NaN     NaN     NaN
max        NaN  14.0000   NaN     NaN     NaN

Standardmäßig zeigt dieser Befehl die Anzahl der Einträge, 

den Durchschnitt, die Standardabweichung, Minimum, Maximum sowie drei Perzentile für alle numerischen Spalten der Tabelle an. 

Die Perzentile können wir mittels einer Liste innerhalb der Funktion auch selbst definieren.